<%- include('layout/header')%>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Homepage sdfgh</h1>
        </div>
    </div>
</div>


<%- include('layout/footer')%>
