<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=title %></title>
    </head>
    <body>
       <nav>
           <div class="left" style="align-self: auto;">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/add">Add User</a></li>
                <li><a href="/display">display </a></li>
                <li><a href="/update">Update </a></li>
                <li><a href="/delete">Delete </a></li>
            </ul>
            
           </div>
            <div class="right" style="float: right;">
               <button>register</button>
               <button>Sign in</button>
            </div>
           
            

       </nav>
   